@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeuzeitSLTStd';
  src: url('../public/fonts/NeuzeitSLTStd-Book.otf');
}

@font-face {
  font-family: 'NeuzeitSLTStd';
  src: url('../public/fonts/NeuzeitSLTStd-BookHeavy.otf');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: NeuzeitSLTStd, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
